body {
  font-size: 50px;
  text-align: center;
  background-image: url("https://i.imgur.com/JfffaBg.jpeg");
  background-size: 580px;
  background-position: center;
}

#woilah {
  background-color: rgb(255, 165, 0, 0.5);
  border: solid 5px red;
  border-radius: 10px;
  overflow: auto;
}

#tombol {
  height: 50px;
  width: 200px;
  font-size: 20px;
  background-image: url("https://i.imgur.com/ljIwRow.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: blue;
  border: solid;
  border-radius: 20px;
}
